{% extends "base.html" %}

{% block title %}
    <title>Log In</title>
    <style>
        .blog-login {
            width: 25%;
            margin: auto;
        }
        
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <form method="post", class="form-login", style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Please Log In
            </h1>
            <br>
            {{ form.email.label() }}
            {{ form.email(class="form-control blog-login", placeholder="Email Address") }}
            
            {{ form.password.label() }}
            {{ form.password(class="form-control blog-login", placeholder="Password") }}
            <br>
            <div class="checkbox nb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="#">Sign Up</a>
            </div>
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>

{% endblock %}